{% extends 'mailing/base.html' %}
{% load template_tags %}
{% block content %}

        <div class="card-body">
            <h5 class="card-title">Всего рассылок</h5>
            <h2><p class="card-text">{{ mailing_count }}</p></h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Активных рассылок</h5>
            <h2><p class="card-text">{{ started_mailing_count }}</p></h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Клиентов</h5>
            <h2><p class="card-text">{{ users_count }}</p></h2>
        </div>


    {% for post in random_posts %}
    <div class="album py-2 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Эскиз" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.title }}</text></svg>
              <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Смотреть</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
                  </div>
                  <small class="text-body-secondary">9 мин</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}